.DS_Store
__trash
_old_*

.nyc_output
coverage
node_modules

private_repo

_app
img
models/src/icons/*
!models/src/icons/HOW_TO_CREATE_ICONS.md

public/css
public/fonts
public/img
public/js
public/vendor
public/src/icons/*
!public/src/icons/HOW_TO_CREATE_ICONS.md
public/src/libin
