*

!.husky/pre-commit
!public/src/**/*
!public/.htaccess
!public/404.html
!public/favicon.ico
!public/index.html
!public/LICENSE.md
!public/manifest.json
!public/offline.html
!public/README_PWA.md
!public/robots.txt
!public/site.webmanifest
!public/sw.js

!tasks/**/*
!test/**/*

!.eslintrc
!.travis.yml
!gulpfile.js
!index.js
